@charset "UTF-8";
/* CSS Document */


nav {
	float:right;
	padding-right:60px;
	margin-top: 0px;
	display:inline;

	}

body{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
	color:#FFF200;


	}

.container nav {
  width: 40%;
  height: 55px;
  background: #C355F8;
  border-bottom: 2px solid   #FFF702;
  position: right;
  top: 0;
  left: 0;
  z-index: 999;
}

nav ul {
 display:inline;
  width:65%;
  height:100%;
  margin: 0 auto;
  list-style:none;
  transition: all 0.5s ease;

}

nav ul li {
  width: 28%;
  float:right;
  text-align:center;
  padding: 16px 3px;
  cursor:pointer;
  color:black;
  font-size: 16px;
  font-weight: bold;
  text-transform:uppercase;
  transition: all 0.5s ease;
  position:relative;

}

nav ul li:hover {
	color: #2CFFA8;
	box-shadow: inset 0 5px   yellow;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

/* sub-menu */

nav ul li ul.sub-nav {
  position:absolute;
  top: 55px;
  left:0;
  width: 100px;
  height: 200px;
  background:  #F07DEE;
  border-top: 1px solid  #8FF0F8;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.14), -1px 0px 1px rgba(0, 0, 0, 0.14);
  visibility: hidden;
  opacity: 0;


}

nav ul li ul.sub-nav li {
  color: #F2FF00;
  font-size: 14px;
  width: 100%;
  padding:16px 20px
}

nav ul li ul.sub-nav li:hover {
  color:#B300FF;
  box-shadow: 0 0;
}

nav ul li:hover ul.sub-nav {
  visibility: visible;
  opacity: 1;
}





.hero-box{
	height: 338px;
	background-color: solid black;
	background-image: url( img/output_Qe3TQ2.gif);
	background-size: cover;


	}

h1{
	color:greenyellow;
	font-size: 55px;
	padding-top: 120px;
	padding-left: 60px;
}

.col img {
	width: 100%;
	height: auto;
	display: block;
}

.col{
	width: 31.3%;
	float: left;
	margin: 1%;
}
.header {
	background: url(img/output_Qe3TQ2.gif)
		no-repeat center;
	background-size: cover;
	width: 100%;
	min-height: 400px;
	margin-top: 117px;
}

  #Footer {
	background-color: hotpink;
	margin-top: 680px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 1px;

	color: solid white;
	font-size: 14px;
	display: marker;
}

	#Footer li {font:34px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif" bold;
	display:inline;
	list-style-type:none;
	color: mediumpurple;
		  }
	#Footer a {padding: 7px 90px;}

	#Footer a:hover{
	background-color:solid white;
	color:#E2DDDD;
	}




		@keyframes slider {

0% {
	left: 0;
}

20% {
	left: 0;
}

25% {
	left: -100%;
}

45% {
    left: -100%;

}

50% {
		left: -200%;

}

70% {
	left: -200%;
}

75% {
	left: -300%;
}

95% {
	left: -300%;
}

100% {
	left: -400%;

}

}

#slider {
	overflow: hidden;
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s slider infinite;
}





/*Tablet */
@media (max-width:760px){
	h1{
		font-size: 40px;
		text-align: center;
		padding-left: 0px;
		}
	.col{
		width: 48%;
	}
}

/* Mobile */
@media(max-width:400px){
	h1 {
		font-size: 28px;
	}
	.col{
		width: 98%;
	}
	.hidden-x3{
		display: none;
	}

}
